{{!-- simple welcome page --}}
<div class="text-center">
    <h1>Welcome back, {{user}}!</h1>
    <p>You just successfully login!</p>
    <a class="btn btn-info w-100 mt-3" href="/logout">Click me to logout</a>
</div>